@mixin flex($jc: center, $ai: center, $fd: row) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin mobile {
  @media (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin section-offset {
  padding: calc($header-height + 2rem) 0 1rem;
  margin-top: -#{$header-height};

  @include mobile {
    padding: $header-height 0 1rem;
  }
}

@mixin scale-transition {
  transition: all 0.25s ease;
  &:hover {
    transform: scale(1.1);
  }
}
